checkpoints/fe_atom filter=lfs diff=lfs merge=lfs -text
checkpoints/se_atom filter=lfs diff=lfs merge=lfs -text
data/fe_atom/raw filter=lfs diff=lfs merge=lfs -text
data/se_atom/raw filter=lfs diff=lfs merge=lfs -text
