checkpoints/fe_atom/mofseq-1/best_checkpoint.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/fe_atom/mofseq-2/best_checkpoint.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/se_atom/mofseq-1/best_checkpoint.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/se_atom/mofseq-2/best_checkpoint.pt filter=lfs diff=lfs merge=lfs -text
data/se_atom/raw/** filter=lfs diff=lfs merge=lfs -text
